<!DOCTYPE html>
<html dir="ltr" lang="en-US">


<head>
    <!-- Metas -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="LionCoders" />
    <!-- Links -->
    <link rel="icon" type="image/png" href="#" />
    <!-- google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
    <!-- Plugins CSS -->
    <link href="../static/css/plugin.css" rel="stylesheet" />
    <!-- style CSS -->
    <link href="../static/css/style.css" rel="stylesheet" />
    <!--color switcher css-->
    <link rel="stylesheet" href="../static/css/switcher/skin-aqua.css" media="screen" id="style-colors" />
    <!-- Document Title -->
    <title>MyCitypedia</title>
</head>

<body>
    <!--
    <div class="preloader js-preloader">
        <img src="../static/images/preloader.gif" alt="...">
    </div>
    -->
    <!--Page Wrapper starts-->
    <div class="page-wrapper fixed-footer">
        <!--header starts-->
        <header class="header transparent scroll-hide">
            <!--Main Menu starts-->
            <div class="site-navbar-wrap v1">
                <div class="container">
                    <div class="site-navbar">
                        <div class="row align-items-center">
                            <div class="col-md-4 col-6">
                                <a class="navbar-brand" href="/"><h1 class="hero__title places-tab">
                                    MYCITYPEDIA
                                </h1></a>
                            </div>
                            <div class="col-md-8 col-6">
                                <nav class="site-navigation float-left">
                                    <div class="container">
                                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                                           
                                           
                                            <li class="d-lg-none"><a class="btn v1" href="/login" >Add Listing <i class="ion-plus-round"></i></a></li>
                                        </ul>
                                    </div>
                                </nav>
                              
                                    <div class="add-list float-right">
                                        <a class="btn v8" href="/login" style="margin-right: 10px;">LOGIN </a>
                                    </div>
                                    <div class="add-list float-right">
                                        <a class="btn v8" href="/" style="margin-right: 10px;">HOME </a>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                    <!--mobile-menu starts -->
                    <div class="site-mobile-menu">
                        <div class="site-mobile-menu-header">
                            <div class="site-mobile-menu-close  js-menu-toggle">
                                <span class="ion-ios-close-empty"></span>
                            </div>
                        </div>
                        <div class="site-mobile-menu-body"></div>
                    </div>
                    <!--mobile-menu ends-->
                </div>
            </div>
            <!--Main Menu ends-->
        </header>
        <!--Header ends-->
        <!--Hero section starts-->
        <div class="hero v1 section-padding bg-zoom">
            <div class="overlay op-3"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="hero__title places-tab">
                            What's Your Plan Today ?
                        </h1>
                        <h1 class="hero__title events-tab">
                            Explore great events.
                        </h1>
                        <p class="hero__description">
                            All the top locations – from restaurants and clubs, to galleries, famous places and more..
                        </p>
                    </div>
                
                    
                </div>
            </div>
        </div>
        <!--Hero section ends-->
        <!--Promo Category starts-->
        <div class="hero-catagory mar-top-30 section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hero-catagory-wrapper v1">
                            <a href="/Listings/Hotels" class="hero-category-content v1">
                                <i class="icofont-hotel"></i>
                                <p class="name">Hotel</p>
                                <p class="d-name">22 Hotel</p>
                            </a>
                            <a href="/Listings/Restaurants" class="hero-category-content v1">
                                <i class="icofont-restaurant"></i> <br>
                                <p class="name">Restaurent</p>
                                <p class="d-name">15 Restaurent</p>
                            </a>
                            <a href="/Listings/Shopping" class="hero-category-content v1">
                                <i class="icofont-shopping-cart"></i><br>
                                <p class="name">Shopping</p>
                                <p class="d-name">30 Shopping</p>
                            </a>
                            <a href="/Listings/Beauty" class="hero-category-content v1">
                                <i class="icofont-cut"></i> <br>
                                <p class="name">Beauty & spa</p>
                                <p class="d-name">8 Beauty</p>
                            </a>
                            <a href="/Listings/Hospitals" class="hero-category-content v1">
                                <i class="icofont-hospital"></i> <br>
                                <p class="name">Hospital</p>
                                <p class="d-name">10 Hospital</p>
                            </a>
                            <a href="/Listings/Education" class="hero-category-content v1">
                                <i class="icofont-education"></i> <br>
                                <p class="name">Education</p>
                                <p class="d-name">28 Education</p>
                            </a>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            <br>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hero-catagory-wrapper v1">
                            <a href="/Listings/Event" class="hero-category-content v1">
                                <i class="icofont-calendar"></i>
                                <p class="name">Event Organizers</p>
                                <p class="d-name">22 Event</p>
                            </a>
                            <a href="/Listings/Dentists" class="hero-category-content v1">
                                <i class="icofont-doctor"></i> <br>
                                <p class="name">Dentists</p>
                                <p class="d-name">15 Dentists</p>
                            </a>
                            <a href="/Listings/Estate_Agent" class="hero-category-content v1">
                                <i class="icofont-search-property"></i><br>
                                <p class="name">Estate Agent</p>
                                <p class="d-name">30 Estate</p>
                            </a>
                            <a href="/Listings/GYM" class="hero-category-content v1">
                                <i class="icofont-gym-alt-2"></i> <br>
                                <p class="name">GYM</p>
                                <p class="d-name">8 GYM</p>
                            </a>
                            <a href="/Listings/Courier_Services" class="hero-category-content v1">
                                <i class="icofont-delivery-time"></i> <br>
                                <p class="name">Courier Services</p>
                                <p class="d-name">10 Courier</p>
                            </a>
                            <a href="/Listings/Motor_Training_Schools" class="hero-category-content v1">
                                <i class="icofont-motor-biker"></i> <br>
                                <p class="name">Motor Training Schools</p>
                                <p class="d-name">28 Motor</p>
                            </a>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
        </div>
        <!--Promo Category ends-->
       
     
      
        
        
       
        <!-- Scroll to top starts-->
        <span class="scrolltotop"><i class="ion-arrow-up-c"></i></span>
        <!-- Scroll to top ends-->
    </div>
    <!--Page Wrapper ends-->
    <!--Footer Starts-->
    <div class="footer-wrapper no-pad-tb footer-fixed v1" style="background-image: url(../static/images/bg/footer-bg-1.png)">
        <div class="overlay op-1"></div>
        <div class="footer-top-area section-padding">
            <div class="container">
                <div class="row nav-folderized">
                    <div class="col-lg-3 col-md-12">
                        <div class="footer-logo">
                            <a href="/"> <img src="../static/images/f.png" alt="logo"></a>
                            <div class="company-desc">
                                <p>
                                    A smart city aims to leverage technology, data, and innovation to enhance the quality of life for its residents, while also promoting sustainability, efficiency, and economic growth.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="footer-content nav">
                            <h2 class="title">Helpful Links</h2>
                            <ul class="list">
                                <li><a class="link-hov style2" href="/Listings/Hotels">Hotel</a></li>
                                <li><a class="link-hov style2" href="/Listings/Restaurants">Restaurent</a></li>
                                <li><a class="link-hov style2" href="/Listings/Shopping">Shopping</a></li>
                                <li><a class="link-hov style2" href="/Listings/Beauty">Beauty & spa</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="footer-content nav">
                            <h2 class="title">Category</h2>
                            <ul class="list">
                                <li><a class="link-hov style2" href="/Listings/Hospitals">Hospital</a></li>
                                <li><a class="link-hov style2" href="/Listings/Education">Education</a></li>
                                <li><a class="link-hov style2" href="/Listings/GYM">GYM</a></li>
                                <li><a class="link-hov style2" href="/Listings/Dentists">Dentists</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="footer-content nav">
                            <h2 class="title">Contact us</h2>
                            <ul class="list footer-list">
                                <li>
                                    <div class="contact-info">
                                        <div class="icon">
                                            <i class="ion-ios-location"></i>
                                        </div>
                                        <div class="text">Panvel City</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-info">
                                        <div class="icon">
                                            <i class="ion-email"></i>
                                        </div>
                                        <div class="text"><a href="#">info@MyCitypedia.com</a></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-info">
                                        <div class="icon">
                                            <i class="ion-ios-telephone"></i>
                                        </div>
                                        <div class="text">+91 9635023525</div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="social-buttons style2">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
                                <li><a href="#"><i class="ion-social-youtube"></i></a></li>
                                <li><a href="#"><i class="ion-social-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <p>&copy; 2023 MyCitypedia. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer ends-->
    <!--Color switcher starts-->
    
    <!--Color switcher ends-->
    <!--Scripts starts-->
    <!--plugin js-->
    <script src="../static/js/plugin.js"></script>
    <!--google maps-->
    
    <!--Main js-->
    <script src="../static/js/main.js"></script>
    <!--Scripts ends-->
</body>


<!-- Mirrored from lion-coders.com/demo/html/MyCitypedia/home-v1.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Jul 2023 14:57:12 GMT -->
</html>
